<footer class="h-25 flex flex-initial flex-col bg-gray-800 pb-5 pt-5">
  <p class="pb-2 text-center text-sm text-white">
    © 2024 Relativómetro. Todos los derechos reservados.
  </p>
  <p class="text-center text-sm italic text-white">
    Todas las cotizaciones, indices y cualquier otro valor publicadas en este
    sitio web son a fines informativos y tienen un carácter orientativo, por lo
    que deben ser tomados únicamente a modo de referencia. En ningún caso se
    debe interpretar o suponer una re comendación de compra o venta.
  </p>
</footer>
