<footer class="bg-gray-800 pt-5 pb-5">
  <p class="text-sm text-white text-center pb-2">© 2024 Relativómetro. Todos los derechos reservados.</p>
  <p class="text-sm text-white text-center italic">
    Todas las cotizaciones, indices y cualquier otro valor publicadas en este sitio web son a fines informativos y tienen un carácter orientativo, por lo que deben ser tomados únicamente a modo de referencia. En ningún caso se debe interpretar o suponer una recomendación de compra o venta.
  </p>
</footer>